# Compiler files
cache/
out/

# Ignores broadcast logs
/broadcast

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

node_modules

# Temporary files
_*.sol

# Rust
**/target/
**/*.rs.bk
**/Cargo.lock
